<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partial_head %>
</head>
<body>

    <!-- NAVBAR -->
    <% include ./navbar %>

    <div class="container">
       <%- content %>
    </div>

<footer>
    <% include ./partial_footer %>
</footer>

<script src="/js/bundle.min.js"></script>
</body>
</html>
